<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.tagline }}</p>
        <hr>
        <p class="view">
          View my profile on<br/ >
          <a href="https://github.com/d-pixie">GitHub</a>,<br/ >
          <a href="http://se.linkedin.com/in/jonasschuberterlandsson/">LinkedIn</a>,<br/ >
          <a href="http://careers.stackoverflow.com/dpixie">StackOverflow Careers</a><br/ >
           or <a href="/cv">my CV</a>
        </p>
        <p class="view">
          My contributions<br/ >
          <a href="https://github.com/my-codeworks/fortnox-api">Fortnox API</a>,<br/ >
          <a href="https://github.com/my-codeworks/diffident">Diffident</a>,<br/ >
          <a href="http://stackoverflow.com/users/348482/d-pixie">Stack overflow</a>
        </p>
        <p class="view">
          My blog posts<br/ >
          <a href="http://my-codeworks.com/blog">my codeworks's blog</a>,<br/ >
          <a href="http://developer.fortnox.se/blog/author/jonas-schubert-erlandsson/">Fortnox's developer blog</a>
        </p>
        <p class="view">
          Some videos<br/ >
          <a href="https://www.livecoding.tv/udm/videos/xYQkL-1dv600-l11-guest-lecture-outlook-7">Guest lecture for 1DV600 at the Linnaeus university in Växjö</a>, <br />
          <a href="https://youtu.be/C7Ge-latsRU">Introduce explaining variable</a>
        </p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>

  </body>
</html>
